Дратути, ${user.username}!


Благодарим Вас за регистрацию в системе MoneyWay.xyz

Для потверждения адресса электронной почты перейдите, пожалуйста, по ссылке:
http://moneyway.xyz/#/confirm?data=${user.hash}

С уважением,
Команда Trackcash.

Это письмо отправлено автоматически.
Не надо на него отвечать.
